prometheus.scrape "cadvisor" {
  targets = [
{% for host in groups['server'] %}
    {"__address__" = "{{ hostvars[host].ansible_host }}:8888", "__name__" = "{{ hostvars[host] }}},
{% endfor %}
  ]
  forward_to = [prometheus.remote_write.mimir.receiver]
}

prometheus.remote_write "mimir" {
  endpoint {
    url = "http://{{ docker_grafana_setup_mimir_container }}:9009/api/v1/push"
  }
}

loki.source.docker "containers" {
  host       = "unix:///var/run/docker.sock"
  targets    = []

  forward_to = [loki.write.loki.receiver]
}

loki.write "loki" {
  endpoint {
    url = "http://{{ docker_grafana_setup_loki_container }}:3100/loki/api/v1/push"
  }
}
