apiVersion: 1

datasources:
  - name: Mimir
    type: prometheus
    url: "http://{{ docker_grafana_setup_mimir_container }}:9009/prometheus"

  - name: Loki
    type: loki
    url: "http://{{ docker_grafana_setup_loki_container }}:3100"
