[Unit]
Description=llama.cpp {{ item.container }} server
After=network-online.target

[Container]
Image={{ podman_llamacpp_deploy_image }}
ContainerName={{ item.container }}

PublishPort=127.0.0.1:8080:8080

AddDevice=nvidia.com/gpu=all

Volume=/home/{{ ansible_user }}/llamacpp/cache:/root/.cache/huggingface:Z
Volume=/home/{{ ansible_user }}/llamacpp/prompts:/prompts:Z

Network=host

Exec= \
  -hf {{ item.model }} \
  {{ item.extra_flags | default('') }} \
  --threads {{ podman_llamacpp_deploy_threads }} \
  -np 1 -c {{ item.context_size }} \
  --reasoning-budget {{ item.reasoning_budget }} \
  --cache-type-k q8_0 \
  --cache-type-v q8_0 \
  --temperature {{ item.temperature }} \
  --top-p 0.95 \
  --top-k {{ item.top_k }} \
  --min-p {{ item.min_p }} \
  --spec-type ngram-simple \
  --no-mmproj-offload \
  --webui \
  --host 0.0.0.0 \
  --port 8080

[Service]
Restart=always

[Install]
WantedBy=default.target
