multitenancy_enabled: false

server:
  http_listen_port: 9009

ingester:
  ring:
    replication_factor: 1

compactor:
  data_dir: /data/compactor
  compaction_interval: 1h
  deletion_delay: 2h

blocks_storage:
  bucket_store:
    sync_dir: /data/tsdb-sync

limits:
  compactor_blocks_retention_period: {{ grafana_setup_retention_period }}
