[Unit]
Description=llama.cpp Gemma4 Server
After=network-online.target

[Container]
Image={{ podman_llamacpp_gemma4_deploy_image }}
ContainerName=llamacpp-gemma4

PublishPort=127.0.0.1:8080:8080

AddDevice=nvidia.com/gpu=all

Volume=/home/{{ ansible_user }}/llamacpp/cache:/root/.cache/huggingface:Z
Volume=/home/{{ ansible_user }}/llamacpp/prompts:/prompts:Z

Network=host

Exec= \
  -hf unsloth/gemma-4-26B-A4B-it-GGUF:UD-IQ4_XS \
  --threads {{ podman_llamacpp_gemma4_deploy_threads }} \
  --cpu-moe \
  -np 1 \
  --cache-type-k q8_0 \
  --cache-type-v q8_0 \
  --host 0.0.0.0 \
  --port 8080

[Service]
Restart=always

[Install]
WantedBy=default.target
